.add-transaction-modal {
    position: absolute;
    justify-self: center;
    align-items: stretch;
    width: 40rem;
}

.add-transaction-modal .header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.add-transaction-modal .content {
    padding: 0;
    width: 100%;
}

.add-transaction-modal .content .first-row {
    align-items: baseline;
}

.add-transaction-modal .content .second-row,
.add-transaction-modal .content .buttons {
    width: 100%;
    align-items: start;
    justify-content: space-between;
}

.add-transaction-modal .content .first-row .category {
    padding: 0;
    width: 100%;
}