.app-logo {
    width: 11rem;
    cursor: pointer;
}

.app-root {
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.app-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    width: 62rem;
    padding: 1rem;
    border-radius: 0.75rem;
    background: transparent;
    border-bottom: 1px solid;
    border-bottom-color: var(--blue2);
    align-self: center;
}
.app-header > :last-child {
    justify-self: end;
}

.app-content {
    overflow: auto;
    padding: var(--lumo-space-m);
    min-height: 0; /* чтобы работал overflow в flex/grid родителях */
}

.app-desktop-nav {
    align-self: center;
}

.app-desktop-nav-buttons {
    color: var(--blue2);
}
.app-desktop-nav-buttons:hover,
.app-desktop-nav-buttons[highlight]{
    color: var(--light1);
}

.app-mobile-nav {
    width: 100vw;
    height: 5rem;
    display: none;
    position: sticky;
    bottom: 0;
    border-top: 1px solid var(--blue2);
    background: var(--dark1);
    justify-content: center;
    gap: 12vw;
    align-items: center;
    padding: 0.75rem;
}

.app-mobile-nav-buttons {

}

/* Desktop: хедер “слева” — благодаря STRETCH он на всю ширину; внутри:
   логотип слева, .app-desktop-nav расширяется и центрирует ссылки */

/* Mobile: центрируем хедер, показываем нижнюю навигацию, прячем десктопную */
@media (max-width: 1023px) {
    .app-header {
        display: flex;
        justify-content: center;      /* центрируем содержимое хедера */
        text-align: center;
    }
    .app-desktop-nav {
        display: none;                /* десктопную навигацию скрываем */
    }
    .app-mobile-nav {
        display: flex;               /* показываем нижнюю навигацию */
    }
}