.root {
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.root .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    width: 62rem;
    padding: 1rem;
    border-radius: 0.75rem;
    background: transparent;
    border-bottom: 1px solid;
    border-bottom-color: var(--blue2);
    align-self: center;
}

.root .header .logo {
    width: 11rem;
    cursor: pointer;
}

.root .header .desktop-nav {
    align-self: center;
}

.root .header .desktop-nav .router {
    color: var(--blue2);
}

.root .header .desktop-nav .router:hover,
.root .header .desktop-nav .router[highlight] {
    color: var(--light1);
}

.root .header .add-transaction-button {
    justify-self: end;
    cursor: pointer;
    color: var(--blue5);
    background-color: var(--blue2);
}

.root .content {
    overflow: auto;
    padding: var(--lumo-space-m);
    min-height: 0; /* чтобы работал overflow в flex/grid родителях */
}

.root .mobile-nav {
    width: 100vw;
    height: 5rem;
    display: none;
    position: sticky;
    bottom: 0;
    border-top: 1px solid var(--blue2);
    background: var(--dark1);
    justify-content: center;
    gap: 12vw;
    align-items: center;
    padding: 0.75rem;
}

.root .mobile-nav .router {
    color: var(--blue2);
}

.root .mobile-nav .router[highlight] {
    color: var(--light1);
}

.root .mobile-add-transaction-button {

}

@media (max-width: 1023px) {
    .root .header {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .root .header .add-transaction-button {
        display: none;
    }

    .root .desktop-nav {
        display: none;
    }

    .root .mobile-nav {
        display: flex;
    }

    .root .mobile-add-transaction-button {

    }
}