name: moneymanager
services:
  money-manager:
    container_name: money-manager
    ports:
      - "127.0.0.1:${MONEY_MANAGER_PORT}:8080"
    build: ./
    env_file:
      - ./.env
    networks:
      - app-net

  postgres:
    container_name: mm-postgres
    image: postgres:17
    restart: always
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-net
    expose:
      - "${POSTGRES_PORT}"
    command: [ "postgres", "-p", "${POSTGRES_PORT}"]

volumes:
  pgdata:
    name: moneymanager_pgdata

networks:
  app-net:
    driver: bridge