.login-form {
    align-items: stretch;
}

.open-register-button {
    cursor: pointer;
    color: var(--blue2);
    background: none;
    border: none;
}
.open-register-button:hover {
    background: none;
    text-decoration: underline !important;
}

.login-button {
    cursor: pointer;
    background: var(--blue2);
    color: var(--blue5);
}

.buttons-layout {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.login-field,
.password-field {
    width: 100%;
}
