.register-form {
    align-items: stretch;
}

.open-login-button {
    cursor: pointer;
    color: var(--blue2);
    background: transparent;
    border: none;
}

.register-button {
    cursor: pointer;
    background: var(--blue2);
    color: var(--blue5);
}

.buttons-layout {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.login-field,
.password-field,
.email-field,
.phone-field {
    width: 100%;
}