.register-form {
    align-items: stretch;
}

.open-login-button {
    color: var(--lumo-primary-color);
    background: transparent;
    border: none;
}

.register-button {
    background: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
}

.buttons-layout {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.login-field,
.password-field,
.email-field,
.phone-field {
    width: 100%;
}