@font-face {
    font-display: swap;
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('fira-sans-condensed-v11-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('fira-sans-condensed-v11-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Fira Sans Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('fira-sans-condensed-v11-cyrillic_latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: url('JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Material Symbols';
    font-style: normal;
    font-weight: 100 700;
    src: url("Material-Symbols.woff2") format('woff2');
}

html {
    --lumo-font-family: 'Fira Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}