[theme~="dark"] {
    --lumo-base-color: #2E3440;
    --lumo-shade-5pct: rgba(59, 66, 82, 0.05);
    --lumo-shade-10pct: rgba(59, 66, 82, 0.1);
    --lumo-shade-20pct: rgba(59, 66, 82, 0.2);
    --lumo-shade-30pct: rgba(59, 66, 82, 0.3);
    --lumo-shade-40pct: rgba(59, 66, 82, 0.4);
    --lumo-shade-50pct: rgba(59, 66, 82, 0.5);
    --lumo-shade-60pct: rgba(59, 66, 82, 0.6);
    --lumo-shade-70pct: rgba(59, 66, 82, 0.7);
    --lumo-shade-80pct: rgba(59, 66, 82, 0.8);
    --lumo-shade-90pct: rgba(59, 66, 82, 0.9);
    --lumo-shade: #3B4252;
    --lumo-tint-5pct: rgba(216, 222, 233, 0.05);
    --lumo-tint-10pct: rgba(216, 222, 233, 0.1);
    --lumo-tint-20pct: rgba(216, 222, 233, 0.2);
    --lumo-tint-30pct: rgba(216, 222, 233, 0.3);
    --lumo-tint-40pct: rgba(216, 222, 233, 0.4);
    --lumo-tint-50pct: rgba(216, 222, 233, 0.5);
    --lumo-tint-60pct: rgba(216, 222, 233, 0.6);
    --lumo-tint-70pct: rgba(216, 222, 233, 0.7);
    --lumo-tint-80pct: rgba(216, 222, 233, 0.8);
    --lumo-tint-90pct: rgba(216, 222, 233, 0.9);
    --lumo-tint: #d8dee9;
    --lumo-primary-text-color: rgb(136, 192, 208);
    --lumo-primary-color-50pct: rgba(136, 192, 208, 0.5);
    --lumo-primary-color-10pct: rgba(136, 192, 208, 0.1);
    --lumo-primary-color: #88c0d0;
    --lumo-primary-contrast-color: #2d3e43;
    --lumo-error-text-color: rgb(191, 97, 106);
    --lumo-error-color-50pct: rgba(191, 97, 106, 0.5);
    --lumo-error-color-10pct: rgba(191, 97, 106, 0.1);
    --lumo-error-color: #bf616a;
    --lumo-error-contrast-color: #3d1f22;
    --lumo-success-text-color: rgb(163, 190, 140);
    --lumo-success-color-50pct: rgba(163, 190, 140, 0.5);
    --lumo-success-color-10pct: rgba(163, 190, 140, 0.1);
    --lumo-success-color: #a3be8c;
    --lumo-success-contrast-color: #2d3527;
    --lumo-disabled-text-color: rgba(216, 222, 233, 0.25);
}