vaadin-grid::part(cell) {
    cursor: pointer;
    background: transparent;
}

vaadin-grid::part(header-cell) {
    background: var(--lumo-base-color);
    padding-top: 0;
    padding-bottom: 0;
}

vaadin-grid::part(last-header-row-cell) {
    background: var(--lumo-base-color);
    border-bottom: solid 1px;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    border-color: var(--lumo-primary-color-10pct);
}

vaadin-grid::part(row):hover {
    border-radius: 1rem;
    background: var(--lumo-shade-50pct);
}

vaadin-grid::part(amount-column) {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
}

vaadin-grid::part(expense) {
    color: var(--lumo-error-color);
}

vaadin-grid::part(income) {
    color: var(--lumo-success-color);
}

vaadin-grid-cell-content {
    padding-left: 0;
    padding-right: 0;
}

vaadin-grid-sorter {
    color: var(--lumo-disabled-text-color);
}

vaadin-grid-sorter[direction] {
    color: var(--lumo-body-text-color);
}

@media screen and (max-width: 600px) {
    vaadin-grid::part(amount-column) {
        font-size: 0.9rem;
    }
}