.category-create-dialog {
    position: absolute;
    justify-self: center;
    align-items: stretch;
    width: 22rem;

    .header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        padding: 0;
        width: 100%;
        align-items: stretch;

        .first-row {
            display: flex;
            align-items: baseline;

            .name {
                padding: 0;
                width: 100%;
            }
        }

        .buttons {
            display: flex;
            width: 100%;
            align-items: start;
            justify-content: end;

            .submit {
                background: var(--blue2);
                color: var(--blue5);
            }
        }
    }
}