.main-layout {
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.main-layout .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    width: 62rem;
    padding: 1rem;
    border-radius: 0.75rem;
    background: transparent;
    border-bottom: 1px solid;
    align-self: center;
}

.main-layout .header .logo {
    width: 11rem;
    cursor: pointer;
}

.main-layout .header .desktop-nav {
    align-self: center;
}

.main-layout .header .add-transaction-button {
    justify-self: end;
    cursor: pointer;
}

.main-layout .content {
    overflow: auto;
    padding: var(--lumo-space-m);
    min-height: 0; /* чтобы работал overflow в flex/grid родителях */
}

.main-layout .mobile-nav {
    width: 100vw;
    height: 5.5rem;
    display: none;
    position: sticky;
    bottom: 0;
    justify-content: center;
    gap: 12vw;
    align-items: center;
    padding: 0.75rem;
}

.main-layout .mobile-add-transaction-button {
    display: none;
    position: fixed;
    right: 0.5rem;
    bottom: 6rem; /* чуть выше мобильной навигации */
    width: 4rem;
    height: 4rem;
    margin-left: 80%;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@media (max-width: 1023px) {
    .main-layout .header {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .main-layout .header .add-transaction-button {
        display: none;
    }

    .main-layout .desktop-nav {
        display: none;
    }

    .main-layout .mobile-nav {
        display: flex;
    }

    .main-layout .mobile-add-transaction-button {
        display: flex;
    }
}