html {
    --lumo-border-radius: 0.5rem;
    --vaadin-input-field-placeholder-color: var(--lumo-disabled-text-color);
    --vaadin-grid-cell-background: transparent;
}

vaadin-button:hover {
    cursor: pointer;
}

vaadin-button[theme~="tertiary-inline"]:hover::part(label) {
    text-decoration: underline;
}

vaadin-dialog-overlay::part(backdrop) {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.5);
}