vaadin-grid::part(cell) {
    cursor: pointer;
    background: transparent;
}

vaadin-grid::part(header-cell) {
    background: var(--lumo-base-color);
}

vaadin-grid::part(row):hover {
    border-radius: 1rem;
    background: var(--lumo-shade-50pct);
}

vaadin-grid::part(amount-column) {
    font-family: 'JetBrains Mono', monospace;
}

vaadin-grid::part(expense) {
    color: var(--lumo-error-color);
}

vaadin-grid::part(income) {
    color: var(--lumo-success-color);
}