html {
    --lumo-border-radius: 0.5rem;
}

::part(input-field) {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
}

[invalid] ::part(input-field) {
    box-shadow: inset 0 0 0 1px var(--lumo-error-color);
}

vaadin-button:hover {
    cursor: pointer;
}