html {
    --lumo-border-radius: 0.5rem;
    --vaadin-input-field-placeholder-color: var(--lumo-disabled-text-color);
    --vaadin-grid-cell-background: transparent;
}

vaadin-button:hover {
    cursor: pointer;
}

vaadin-button[theme~="tertiary-inline"]:hover::part(label) {
    text-decoration: underline;
}

vaadin-dialog-overlay::part(backdrop) {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.5);
}

vaadin-select-overlay::part(content) {
    text-align: center;
    max-height: 33vh;
    background-color: var(--lumo-shade-40pct);
}

vaadin-select-overlay vaadin-select-item[selected] {
    background: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
}

vaadin-select-item::part(checkmark) {
    display: none;
}

vaadin-grid::part(header-cell) {
    background-color: var(--lumo-shade);
}

vaadin-tab {
    color: var(--lumo-tint-40pct);
}

vaadin-tab[selected] {
    border-radius: 1rem;
    background: var(--lumo-primary-color-10pct);
    color: var(--lumo-primary-color);
}