vaadin-dialog-overlay::part(backdrop) {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.5);
}

vaadin-confirm-dialog-overlay::part(backdrop) {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.5);
}