.register-form {
    align-items: stretch;

    .buttons-layout {
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .open-login-button {
            cursor: pointer;
            color: var(--blue2);
            background: transparent;
            border: none;
        }

        .register-button {
            cursor: pointer;
            background: var(--blue2);
            color: var(--blue5);
        }
    }
}